<!DOCTYPE html>
<head>
    <link rel = "stylesheet" type = "text/css" href  = "../static/main.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

</head>

<body>
    <div>
        <h1 class = "greeting">The Iris Dataset with D3JS</h1>
        
        <div id = "dash-container"></div>

    </div>
    
<!-- <script src = {{ url_for('static', filename = 'bundle.js') }} ></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src = "https://d3js.org/d3.v5.min.js"></script>
<script src = "../static/index.js"></script>


</body>